<html>
<body>
<h1 style="text-align: center; font-size: 20px">
    广电应用市场开放平台密码设置
</h1>

<div style="border:1px solid #b2b2b2; margin: 20px auto; padding: 30px; font-size: 14px; width: 600px;">
    <p><b>尊敬的 ${mail}:</b></p>

    <p style="margin-left: 20px;">请点击下面的链接设置新密码:</p>

    <p style="margin-left: 20px; font-size: 12px;">
        ${applicationHost}chapp/finishpwdlookbackmail.html?a=${code}
    </p>

    <p style="margin-left: 20px;">如果链接无法直接点开，请尝试将链接复制到浏览器地址栏访问。此链接有效时间为24小时，请在有效时间内回复！</p>

    <p style="margin-left: 20px;margin-top: 36px">- 广电应用市场平台组</p>

    <p style="border-top: 1px solid #ddd; padding-top: 10px; margin-top: 25px; color: #888; text-align: center; font-size: 12px;">
        本邮件由系统发出，请勿直接回复
    </p>
</div>

</body>
</html>