<html>
<body>
<p style="text-align: center; font-size: 30px">
    广电应用市场开放平台密码设置
</p>
尊敬的开发者：
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好!<br>
点击下面的链接设置新密码:</br>
    ${applicationHost}chapp/finishpwdlookbackmail.html?a=${code} </br>
广电应用市场平台组<br>

若链接无法直接点开，请复制链接到浏览器中打开！<br>
（本邮件为系统自动发出，请勿回复）
</body>

</html>