<html>
<body>
<p style="text-align: center; font-size: 30px">
    广电应用市场开放平台注册
</p>
尊敬的开发者：
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好!<br>
欢迎加入广电应用市场开放平台！点击下面的链接完成注册:</br>
    ${applicationHost}chapp/finishregister.html?a=${code} </br>
广电应用市场平台组<br>

若链接无法直接点开，请复制链接到浏览器中打开！<br>
（本邮件为系统自动，发出请勿回复）
</body>

</html>